<div class="content_parts">
  <% if user_signed_in? && current_user.id == schedule.user_id %>
    <p><%= link_to schedule.title, edit_schedule_path(schedule.id), method: :get, class: "title" %></p>
    <span class="text">
      <%= schedule.text %>
    </span>
    <div class="delete_contents">
      <%= link_to '削除', schedule_path(schedule.id), method: :delete, class: "delete" %>
    </div>
  <% end %>
</div>