<div class="content_parts">
  <% if user_signed_in? && current_user.id == schedule.user_id %>
    <span class="title">
      <p><%= schedule.title %></p>
    </span>
    <span class="text">
      <%= link_to schedule.text, edit_schedule_path(schedule.id), method: :get %>
    </span>
    <div class="delete_contents">
      <%= link_to '削除', schedule_path(schedule.id), method: :delete, class: "delete" %>
    </div>
  <% end %>
</div>