<div class="main contents">
  <div class="content part">
    <h3>編集する</h3>
    <%= form_with(model: @schedule, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "日付" %>
      <%= form.text_field :text, placeholder: "内容" %>
      <%= form.submit "完了"%>
    <% end %>
  </div>
</div>