<header>
  <%= render "shared/header" %>
</header>
<div class="main_contents">
  <% @schedules.each do |schedule| %>
    <%= render partial: "schedule", locals: { schedule: schedule } %>
  <% end %>
</div>
