<div class="main contents">
  <% @schedules.each do |schedule| %>
    <div class="content_parts">
      <div class="delete">
        <ul class="more_list">
          <li>
            <%= link_to '削除', schedule_path(schedule.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= schedule.title %></p>
      <span class="text">
        <%= schedule.text %>
      </span>
    </div>
  <% end %>
</div>