<div class="main contents">
  <div class="post_new">
    <%= link_to '戻る', root_path, class: "root"%>
    <h3>作成する</h3>
    <%= render partial: "form", locals: { schedule: @schedule } %>
  </div>
</div>